.logo {
    display: inline-block;
    padding: 0px 0px;
    font-size: 25px;    
    color: #ff0000;
    font-family: Helvetica;
}

.logo:hover{
    color: #ff0000;
}

nav li {
    list-style: none;
    display: inline-block;
    justify-content: center;
    padding: 10px 0px;
}

nav a {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: #fff; 
    font-family: Helvetica;
}

nav a:hover, :focus{
    color:#b3b3b3;
}

.Navbar {
    display: inline-block;
    width: 100%;
    padding-bottom: 0px;
    margin: 0;
    height: 80px;
    background-color: #141414;
    
}

.NavMenu{
    position: top;
    display: inline-block;
    justify-content: center;
    align-content: center;
}

.SearchBar{
    display: inline-block;
    margin: 0;
    padding: 0;
}



.dropdown{
    display: inline-block;
    position: absolute;
}

@media only screen and (max-width: 1200px){
    .dropdown{
        display:none;
    }
}

@media only screen and (max-width: 1000px){
    .NavMenu{
        display: none;
    }
}


.dropbtn{
    display: flex;
    margin-left: 10px;
    min-height: 35px;
    max-height: 35px;
    min-width: 35px;
    max-height: 35px;
    z-index: -10;
    margin-top: 30px;
    border-radius: 5px;
    background-image: url("https://occ-0-4734-1360.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABbme8JMz4rEKFJhtzpOKWFJ_6qX-0y5wwWyYvBhWS0VKFLa289dZ5zvRBggmFVWVPL2AAYE8xevD4jjLZjWumNo.png?r=a41");
}

.dropdown-content{
    display: none;
    min-height: 50px;
    min-width: 120px;
    margin-top: 30px;
    margin-right: 20px;
    position: absolute;
}

.dropdown-content a{
    display: block;
    text-align: left;
    padding: 5px 2px;
    font-family: Helvetica;
    font-size: 12px;
}

.dropdown-content a:hover{
    display: block;
    text-align: left;
    padding: 5px 2px;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400px;
    text-decoration: underline;
    color: white;
}


.menu-div{
    height: 1px;
    color: #fff;
    background-color: #fff;
    border: none;
    opacity: .9;
}


.dropdown:hover .dropdown-content{
    display: block;
    background: hsla(0, 0%, 9%, .8);
    padding: 10px;
    margin-right: 20px;
    transform: translate(-60px);
}

.profile-options{
    font-weight: 800;
}

#profile-one{
    padding-top: 10px;
    padding-bottom: 10px;
}

#profile-two{
    padding-top: 10px;
}